@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  background-color: #ffffff;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  select {
    background-color: #171717;
    color: #ffffff;
  }

  select option {
    background-color: #171717;
    color: #ffffff;
  }
}
